html, body {
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    min-width: 400px;
  }
  
  #ville {
    text-transform: capitalize;
    font-size: 2rem;
  }
  
  #temperature {
    font-size: 3rem;
  }
  
  #changer {

    cursor: pointer;
  }